@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nunito&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

nav{
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

.containerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo i{
    font-size: 53px;
    color: #F5BB33;
}

.logo p{
    font-family: dongle;
    font-size: 40px;
    padding-left: 5px;
    margin-top: 15px;
}

.navMenu{
    margin: 0 auto;
    align-items: center;
    height: 2rem;
    border-radius: 10px;
    background-color: #fff;
}

.navMenu ul{
    display: flex;
}

.navMenu li{
    list-style: none;
    padding: 0 25px;
    position: relative;
}

.navMenu li a{
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-family: dongle;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; 
}

.navMenu li a.active{
    color: #F5BB33;
}

.search{
    display: flex;
    align-items: center;
}

.search-container {
    position: relative;
    display: inline-block;
  }
  
.search-input {
    padding-top: 5px;
    padding-left: 35px; 
    font-family: dongle;
    width: 188px;
    height: 38px;
    background-color: rgb(243, 241, 241);
    border: none;
    color: black;
    font-size: 32px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
  
.search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}

.search i:hover{
    color: grey;
}

.keranjang{
    display: flex;
    border-color: 1px solid black;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 38px;
    font-size: 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(243, 241, 241);
    border: 2px solid black;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.jumlah{
    position: absolute;
    margin-top: -2rem;
    margin-left: 2.5rem;
    width: 20px;
    height: 20px;
    background-color: #EB8E8E;
    border-radius: 50%;
    border: 1px solid white;
}